* {
    margin : 0px;
    padding : 0px;
 }

/* Header styles */

nav {
    display: flex;
    margin: 50px 200px;
    justify-content: space-between;
}

nav ul {
    display: flex;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    align-items: center;
}

li {
    list-style: none;
    padding-left: 15px;
}

.primary-color {
    color: #FD6E0A;


}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
}

.btn {
    width: 160px;
    height: 64px;
    left: 460px;
    top: 589px;
    border: none;
    font-size: 20px;

    background: #FD6E0A;
    border-radius: 5px;
    color: blanchedalmond;
}

.head {

    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;



}



/* banner section */
.banner {


    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    align-items: center;


    width: 1600px;
    height: 837px;
    left: 0px;
    top: 0px;


}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;


}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 5px;


}

.banner-pera {

    font-size: 22px;
    color: #757575;
    margin-bottom: 20px;

}

.btn2 {
    width: 160px;
    height: 64px;
    left: 460px;
    top: 589px;

    border: 1px solid #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    color: #FD6E0A;

}